# Variables de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/

# Entornos virtuales
venv/
.venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Logs
*.log

# Build
dist/
build/