{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}?v=2">
{% endblock %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="login-overlay">
  <div class="password-reset-container">
    <h2>Restablecer contraseña</h2>
    <p class="subtitle">Ingresa tu nueva contraseña.</p>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-primary">Guardar nueva contraseña</button>
    </form>
  </div>
</div>
{% endblock %}
