{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}?v=3">
{% endblock %}

{% block title %}Enlace Enviado{% endblock %}

{% block content %}
<div class="login-overlay">
  <div class="password-reset-container">
    <h2>¡Enlace de recuperación enviado!</h2>

    <p class="done-message">
      Te hemos enviado las instrucciones por correo electrónico para restablecer tu contraseña si existe una cuenta con el email proporcionado.
    </p>

    <p class="done-submessage">
      Deberías recibirlo en breve. Si no te llega, asegúrate de revisar tu carpeta de correo no deseado o spam.
    </p>

    <div class="options">
      <p><a href="{% url 'login' %}">Volver al Inicio de Sesión</a></p>
    </div>
  </div>
</div>
{% endblock %}
